* {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: auto;
}


header {
    position: fixed;
    background-color: whitesmoke;
    box-shadow: 0 0 10px;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

.lists {
    display: flex;
    list-style-type: none;
    justify-content: end;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
}
    
.lists li, a {
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 3px solid rgba(0, 0, ,0, 0);
    transition: 0.3s ease-in-out;
}

.lists li:hover {
    border-bottom: 3px solid blue;
}